*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
.header img{
	border-radius: 50px;
	width: 75px;
	height: 75px;
	position: absolute;
	left: 100px;
	top: 5px;
}
.header h2{
	position: absolute;
	top: 10px;
	left: 200px;
	font-family: Rye;
	color: #4A9FD5;
	font-family: Rye;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
}
.header h6{
	position: absolute;
	left: 192px;
	top: 35px;
	font-family: Old Standard TT;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.50);
}
.header hr{
	position: absolute; 
	width: 100%;
	top: 85px;
	border: 1px solid #00978E;
}
.navbar{
	background: #fff;
	position: absolute;
	left: 1100px;
	top: 30px;

}
.navbar ul li{
	display: inline;
	box-sizing: border-box;
    box-shadow: 1px 2px 2px #27B6AD;
	border-radius: 15px;
	background: #FDFEFF;
	border: 1px solid #FDFEFF;
	padding: 5px 6px;
	margin-right: 10px;
	font-family: Old Standard TT;
}
.navbar ul li a{
	color:#175E59;
	font-size: 20px;
}
.navbar ul li .fa{
	padding-right: 5px;
}
.navbar ul li a:hover  {
    font-size: 23px;
}
.sidebar{
	top: 85px;
	position: absolute;
	display: flex;
	height: 95%;
	width: 105px;
	background: #27B6AD;
	border-radius: 45px 24px 24px 45px;
	padding: 20px 0px;
	box-shadow: 10px 16px 20px 4px rgba(2, 89, 84, 0.18);

}
.sidebar ul li{
	padding: 20px;
	font-family: epilogue;
	font-weight: normal;
	font-size: 13px;
	text-align: center;

}
.sidebar ul li a{
	color: white;
	
}

.sidebar ul li a .fa{
	font-size: 35px;
	padding-bottom: 35px;
}

.sidebar ul li:hover{
	background: #fff;
	border-radius: 70px;
}

.sidebar ul li:hover a{
	color: #27B6AD;  	
}
